html
{
        background:url(../image/background.png) #fafafa;
}

/* *******************
 * Classes
 * **************** */
.maxSize
{
        width:820px;
}


/* *******************
 * Styles
 * **************** */
#splashScreen
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;

	color:#222;
	font-size:400%;
	text-shadow:-1px -1px 0 #000;

	background:url(../image/splashscreen.png);

	z-index:2000;
}
	#splashScreen h1
	{
                overflow:hidden;
		position:absolute;
		top:45%;
		left:20%;
                width:300px;
                height:130px;

                text-indent:-9999px;
                text-decoration:none;
		text-align:center;

                background: url(../image/logo.png) no-repeat;
	}

#continer
{
        overflow:hidden;
        margin:0 auto;
}
        #continer #feedList
        {
		overflow:hidden;
		position:fixed;
		top:0;
		bottom:0;
		left:0;
                margin:20px 0 0 0;
                padding:0 0 0 40px;
		width:200px;
        }
                #continer #feedList li
                {
                        float:left;
			position:relative;
                        margin:40px 40px 0 0;
                        width:115px;
                        height:160px;

                        list-style:none;
                }
		#continer #feedList #feedURLSet
		{
			width:113px;
			height:158px;

			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			opacity:0.5;

			border:1px solid #ccc;
			
			-webkit-box-shadow:inset 0 0 5px #ddd, 1px 1px 0 #fff;
			-moz-box-shadow:inset 0 0 5px #ddd, 1px 1px 0 #fff;
			box-shadow:inset 0 0 5px #ddd, 1px 1px 0 #fff;

		}
		#continer #feedList #feedURLSet:hover
		{
			opacity:1.0;
		}
			#continer #feedList #feedURLSet .icon
			{
				margin:15px 0 0 0;
				text-align:center;
				font-weight:bold;
				font-size:400%;
				color:#aaa;
				text-shadow:1px 1px 0 #fff;
			}
			#continer #feedList #feedURLSet #feedURLInput
			{
				display:block;
				margin:10px 10px 10px 10px;
				padding:5px;
				width:80px;
				border:1px solid #ccc;

				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;

				background:#fafafa;

				-webkit-box-shadow:inset 0 0 5px #eee, 1px 1px 0 #fff;
				-moz-box-shadow:inset 0 0 5px #eee, 1px 1px 0 #fff;
				box-shadow:inset 0 0 5px #eee, 1px 1px 0 #fff;
			}
			#continer #feedList #feedURLSet #feedURLSubmit
			{
				display:block;
				overflow:hidden;
				margin:10px 10px;
				padding:5px 8px;
				height:20px;

				border-top:1px solid #aaa;
				border-left:1px solid #aaa;
				border-right:1px solid #999;
				border-bottom:1px solid #999;

				-webkit-border-radius : 3px;
				-moz-border-radius    : 3px;
				border-radius         : 3px;

				line-height:20px;
				color:#333;
				font-size:90%;
				text-align:center;
				text-shadow:1px 1px 0 #fff;
				text-decoration:none;

				background         :#ddd;
				background         : -moz-linear-gradient(top, #eee, #ddd);
				background         : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));
				background         : gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));

				-webkit-box-shadow :inset 0px 1px 0px #fff, 0px 1px 4px #ccc;
				-moz-box-shadow    :inset 0px 1px 0px #fff, 0px 1px 4px #ccc;
				box-shadow         :inset 0px 1px 0px #fff, 0px 1px 4px #ccc;
			}
			#continer #feedList li .delete
			{
				display:none;
				position:absolute;
				z-index:100;
				top:-7px;
				right:-7px;
				width:14px;
				height:14px;
				border:2px solid #fff;

				-webkit-border-radius:8px;
				-moz-border-radius:8px;
				border-radius:8px;

				color:#fff;
				text-align:center;
				text-shadow:-1px -1px 0 #bb0000;
				text-decoration:none;
				line-height:92%;

				-webkit-box-shadow:inset 0 0 3px #aa0000, 0 1px 4px #bbb;
				-moz-box-shadow:inset 0 0 3px #aa0000, 0 1px 4px #bbb;
				box-shadow:inset 0 0 3px #aa0000, 0 1px 4px #bbb;
				background         :#cc0000;
                                background         : -moz-linear-gradient(top, #dd0000, #cc0000);
		                background         : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd0000), to(#cc0000));
		                background         : gradient(linear, 0% 0%, 0% 100%, from(#dd0000), to(#cc0000));
			}
			#continer #feedList li:hover .delete
			{
				display:block;
			}
			#continer #feedList li:hover .delete:hover
			{
				background         :#dd0000;
                                background         : -moz-linear-gradient(top, #cc0000, #dd0000);
		                background         : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc0000), to(#dd0000));
		                background         : gradient(linear, 0% 0%, 0% 100%, from(#cc0000), to(#dd0000));
			}
                        #continer #feedList li .selector
                        {
                                position:relative;
                                display:block;
                                margin:0;
                                padding:27px 12px 17px 12px;
                                border:3px solid #fff;
                                width:85px;
                                height:110px;
                                border-radius:5px;

                                text-decoration:none;

                                background:url(../image/paper.png) #fafafa;

                                box-shadow:inset 0 1px 0 #fff,0px 1px 7px #ccc;

                        }
                                #continer #feedList li .selector .title
                                {
                                        font-weight:bold;
                                        color:#666;
                                        font-size:80%;
                                        text-shadow:1px 1px 0 #fff;
                                        line-height:150%;
                                        text-shadow:1px 1px 0 #fff;
                                        text-decoration:none;
                                        text-overflow: ellipsis;
                                }
                                #continer #feedList li .selector .count
                                {
                                        position:absolute;
                                        display:block;
                                        top:45%;
                                        right:-9px;
                                        width:30px;
                                        padding:5px;

                                        border:1px solid #aa0000;

                                        color:#fff;
                                        text-align:right;
                                        font-size:80%;
                                        font-weight:bold;
                                        text-shadow:-1px -1px 0 #aa0000;
                                        text-decoration:none;

                                        background:#bb0000;

                                        box-shadow:inset 1px 0 0 #cc0000,inset -1px 0 2px #bb0000 , 0 1px 3px #ccc;

                                        -webkit-transition : 0.2s ease-in-out;
                                        -moz-transition    : 0.2s ease-in-out;
                                        transition         : 0.2s ease-in-out;
                                }
                                #continer #feedList li .selector:hover .count
                                {
                                        width:20px;
                                }
                        #continer #feedList li .selector:hover
                        {
                                padding:27px 12px 17px 12px;
                                border:3px solid #84c9da;

                                color:#333;

                                box-shadow:inset 0 1px 0 #fff, 0 1px 15px #bbb;
                        }
                        #continer #feedList li .selector:before,
                        #continer #feedList li .selector:after
                        {
                                content:"";
                                position:absolute;
                                display:block;
                                left:0;
                                top:0;
                                margin:0;
                                padding:30px 20px 20px 20px;
                                width:75px;
                                height:110px;
                                border-radius:5px;

                                color:#666;
                                text-shadow:1px 1px 0 #fff;
                                text-decoration:none;

                                -webkit-transform: rotate(-5deg);
                                -moz-transform: rotate(-5deg);
                                -o-transform: rotate(-5deg);
                                -ms-transform: rotate(-5deg);
                                transform: rotate(-5deg);

                                background:url(../image/paper.png) #fafafa;
                                box-shadow:inset 0 1px 0 #fff,0px 1px 7px #ccc;

                                z-index:-100;
                        }
                        #continer #feedList li .selector:after
                        {
                                -webkit-transform: rotate(9deg);
                                -moz-transform: rotate(9deg);
                                -o-transform: rotate(9deg);
                                -ms-transform: rotate(9deg);
                                transform: rotate(9deg);
                        }
        #continer #feedContiner
        {
                overflow:hidden;
                position:absolute;
		top:0;
                bottom:0;
		left:280px;
		right:120px;
                padding:0 0 120px 0;
        }
                #continer #feedContiner .feedTitle
                {
                        margin:50px 0 0 0;

                        color:#bbb;
                        text-shadow:1px 1px 0 #fff;
                        line-height:140%;
                        font-size:200%;
                        font-weight:bold;
                        baseline:center;
                }
                        #continer #feedContiner .feedTitle .count
                        {
                                margin:0 0 0 10px;
                                padding:5px;
                                -webkit-border-radius:3px;
                                -moz-border-radius:3px;
                                border-radius:3px;

                                color:#aaa;
                                font-size:40%;
                                font-weight:bold;
                                text-shadow:#fff;

                                background:#fafafa;

                                -webkit-box-shadow:1px 1px 0 #ddd;
                                -moz-box-shadow:1px 1px 0 #ddd;
                                box-shadow:1px 1px 0 #ddd;
                        }
		#continer #feedContiner .feedUrl
		{
			margin:5px 0 -160px 0;
		}
			#continer #feedContiner .feedUrl a
			{
				color:#bbb;
				text-shadow:1px 1px 0 #fff;
				line-height:100%;
				font-size:100%;
				text-decoration:none;
			}
                #continer #feedContiner .article
                {
                        margin:200px 0 0 0;
                        padding:1px 0 50px 0;

                        border-radius:3px;

                        background:url(../image/paper.png) #fafafa;
                        box-shadow:inset 0 1px 0 #fff,0px 1px 5px #ccc;
                }
                        #continer #feedContiner .article .title
                        {
                                margin:80px 60px 0 60px;

                                color:#333;
                                line-height:150%;
                                font-size:190%;
                                font-weight:bold;
                                text-shadow:1px 1px 0 #fff;
                        }
                        #continer #feedContiner .article .time
                        {
                                margin:20px 60px 0 60px;

                                color:#888;
                                font-size:90%;
                                text-shadow:1px 1px 0 #fff;
                        }
                        #continer #feedContiner .article .content
                        {
                                margin:50px 60px 0 60px;

                                color:#666;
                                font-size:115%;
                                line-height:180%;
                                text-shadow:1px 1px 0 #fff;
                        }
                                #continer #feedContiner .article .content h2
                                {
                                        margin:2em 0 0 0;

                                        font-size:140%;
                                        color:#333;
                                }
                                #continer #feedContiner .article .content a
                                {
                                        color:#84c9da;
                                        text-shadow:1px 1px 0 #fff;
                                        text-decoration:none;
                                }
                                        #continer #feedContiner .article .content a:hover
                                        {
                                                text-decoration:underline;
                                        }
                                #continer #feedContiner .article .content p
                                {
                                        margin:1.5em 0 0 0;

                                }
                                #continer #feedContiner .article .content ul,
                                #continer #feedContiner .article .content ol
                                {
                                        margin:1.5em 0 0 0;
                                        list-style:inside;
                                }
                                #continer #feedContiner .article .content img
                                {
                                        max-width:100%;
                                }
                        #continer #feedContiner .article .link
                        {
                                margin:40px 60px 0 60px;

                                text-align:right;
                                line-height:170%;
                        }
                                #continer #feedContiner .article .link a
                                {
                                        color:#aaa;
                                        text-shadow:1px 1px 0 #fff;
                                }

#footer
{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
        margin:0;
        padding:0;
}
        #footer #copyright
        {
                padding:0 5px 10px 5px;
                text-align:right;
        }
                #footer #copyright a
                {
                        color:#aaa;
                        text-shadow:1px 1px 0 #fff;
                        text-decoration:none;
                }

